<!DOCTYPE html>
<html>
    <head>
        <title>JamStudio - Залы</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link type="image/png" sizes="16x16" rel="icon" href="/static/icons8-music-band-16.png">
    </head>
    <body>
        <h1>Залы</h1>
        <div class="container">
            {% for room in rooms %}
                <a href="/room/{{ room.id }}">
                    <h2>{{ room.name }}</h2>
                    <h3>Вместимость: {{ room.capacity }} человек</h3>
                    <h3>Стоимость: {{ room.hourly_rate }}₽/час</h3>
                </a>
            {% endfor %}
        </div>
    </body>
</html>